<!DOCTYPE html>
<html>
<head>
    <title>Student Marks</title>
</head>
<body>

<h2>Student Result Form</h2>

<form action="/submit" method="POST">

    <input type="number" name="science" placeholder="Science"><br><br>

    <input type="number" name="maths" placeholder="Maths"><br><br>

    <input type="number" name="python" placeholder="Python"><br><br>

    <input type="number" name="ai" placeholder="AI"><br><br>

    <input type="submit" value="Calculate">

</form>

</body>
</html>